<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.starbow.fitindia">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="in.starbow.fitindia.service.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitIndia">
        <activity android:name="in.starbow.fitindia.FoodSelectActivity"></activity>
        <activity android:name=".service.MainActivity" />
        <activity android:name="in.starbow.fitindia.bmi" />
        <activity android:name="in.starbow.fitindia.dashboard" />
        <activity android:name="in.starbow.fitindia.register_act" />
        <activity android:name="in.starbow.fitindia.loginPage" />
        <activity android:name="in.starbow.fitindia.peodmeter" />
        <activity android:name="in.starbow.fitindia.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register_actt" />
        <activity android:name=".DietPlan" />
        <activity android:name=".DietDetailActivity" />

        <service
            android:name="in.starbow.fitindia.service.StepDetectorService"
            android:label="@string/app_name" />
    </application>

</manifest>